{% extends 'for_admins/admin_base.html' %}

{% block title %}
Sessions
{% endblock %}

{% block body %}
<form action="{{ url_for( 'cinema.admin_sessions' ) }}" method="post">
    <input type="datetime-local" name="date" placeholder="Start of session" required><br>
    <input type="number" name="hall_id" placeholder="Hall ID" required><br>
    <input type="number" name="movie_id" placeholder="Movie ID" required><br>
    <input type="number" name="price" placeholder="Session price" required><br>
    <input type="submit" value="Add session" class="btn btn-success">
</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Time of start</th>
        <th>Hall</th>
        <th>Movie</th>
        <th>Price</th>
    </tr>
    {% for session in sessions %}
    <tr>
        <th>{{ session.id }}</th>
        <td>{{ session.date }}</td>
        <td>{{ hall.query.get(session.cinema_hall_id).name }} ({{ hall.query.get(session.cinema_hall_id).category }})</td>
        <td>{{ movie.query.get(session.movie_id).title }}</td>
        <td>{{ session.price }}</td>
        <td><a class="btn btn-danger" href="{{ url_for('cinema.admin_session_delete', id=session.id) }}">Delete</a></td>
        <td><a class="btn btn-warning" href="{{ url_for('cinema.admin_session_edit', id=session.id) }}">Edit</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}